/*
Carey's Collections
Jonathan Carey*/
<style> 
h1{background-color:#1BFF2C;
   font-family: sans-serif;
   border-color:#FF0000; 

}
h1{color:#E8B10C;font-size:50px}
#content{width: 700px;
margin:0 auto;}


</style>